.projects_container {
    padding-top: 40px;
    padding-left: 60px;
    color: #000000;
    font-size: 32px;
    background-color: aliceblue;
    padding-bottom: 20px;
  
  }

  .project_name {
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    text-transform: capitalize;
    
  }

  .project_date {
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 5px;
  }

.divider_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
  background-color: aliceblue;
}

.divider {
  width: 5px;
  background-color: #fc0e49;
}

.text_container, .divider_container img {
  padding: 20px;
  width: 30%;
}

.text_container p {
  font-size: 16px;
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  border-bottom: #505050 2px solid;

}

.text_container a { 
  margin-top: 20px;
  text-decoration: none;
  padding: 10px;
  background-color: #fc0e49;
  border-radius: 5px;
  color: aliceblue;
}

.frameworks {
  margin: 0px;
  padding-top: 20px;
  font-size: 12px;
}


