.about {
  display: flex;
  justify-content: center;
  border-bottom: #fc0e49 10px solid;
  height: 400px;
}

.about_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: aliceblue;
}

p {
  padding: 0px 30px 0px 30px;
  font-size: large;
  padding-bottom: 20px;
  margin: 0px;
}

.image_container {
  margin-left: 10px;
  z-index: -1;
  filter: grayscale(100%);
}

.skillset {
  display: flex;
  flex-direction: column;
  color: #fc0e49;
  font-size: 32px;
  padding-top: 30px;
  background: linear-gradient(
    135deg,
    rgba(63, 63, 63, 0.8) 0%,
    rgb(0, 0, 0) 100%
  );
  border-bottom: #fc0e49 10px solid;
}

.skillset_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 60px;
  width: 110px;
  padding: 10px;
  margin: 20px;
  color: #fc0e49;
  background: rgb(252, 252, 252);
  box-shadow: 0 8px 32px 0 #fc0e4a83;
  backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 2px solid #fc0e4a67;
  transition: 0.5s linear;
}
.skillset_container:hover {
  transform: scale(1.1);
}

#calender {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-bottom: 30px;
}

#contributions {
  padding-bottom: 30px;
  align-self: center;
}

@media only screen and (max-width: 1281px) {
  .about_me {
    padding: 60px 30px 60px 30px;
    margin-top: 0px;
    width: 100%;
    background-color: aliceblue;
  }

  img:nth-child(3) {
    display: none;
  }

  .contributions {
    width: 800px;
  }
}

@media only screen and (max-width: 500px) {
  img:nth-child(2) {
    display: none;
  }

  .skillset {
    padding-bottom: 30px;
  }

  .skillset_container {
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 2px;
    background: none;
    box-shadow: none;
    backdrop-filter: blur(0px);
    border-radius: none;
    border: 0px;
  }

  #calender {
    width: 95%;
  }
}
