.home {
    top: -150px;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    background-image: url(../../Assets/blackwhite.jpg);
    background-size: 100%;
    background-position: center;
    border-top: #fc0e49 10px solid;
    border-bottom: #fc0e49 10px solid;
}
.collumn_center {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 800px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.intro_name {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.web_dev {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fc0e49;
    line-height: 0;
}

@media only screen and (max-width: 600px) {
    .home {
        background-image: url(../../Assets/blackwhite.jpg);
        padding-top: 80px;
        padding-bottom: 30px;
    }
}
