.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    color: aliceblue;
    border-top: #fc0e49 10px solid;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
}
